<a href="https://colab.research.google.com/github/wilfierd/ATI-tut/blob/test/Exercise_3_4_Understanding_your_classification_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 3.4 Understanding your classification data
Now you will start modeling with a new dataset for a classification problem. This data includes information about passengers on the Titanic. You will use predictors such as `age`, `fare` and where each passenger `embarked` from to predict who will survive.

You can download the .csv file from the following link:

[titanic_all_numeric.csv](https://drive.google.com/file/d/11nuYS-l3EXCsGJt81y4YTt3oTnFGaB68/view?usp=drive_link)

The data is pre-loaded into a pandas DataFrame called `df`. You can Use the `head()` and `describe()` methods for a quick overview of the DataFrame.

In this exercise, you will practice performing some exploratory analysis on your data to figure out: What was the maximum age of passengers on the Titanic?

## Instructions

* The min and max values as shown by `describe()` will be informative here.
What was the maximum age of passengers on the Titanic?
  * 29.699
  * 80
  * 891
  * It is not listed

## Code

In [1]:
import pandas as pd
# Load csv file into the dataframe: df
df = pd.read_csv("titanic_all_numeric.csv")

Perfome exploratory analysis using `head()` and `describe()` methods

In [3]:
# Display the first few rows of the dataframe
print("First 5 rows of the dataset:")
print(df.head())

print("\n" + "="*50 + "\n")

# Display statistical summary of the dataframe
print("Statistical summary of the dataset:")
print(df.describe())

print("\n" + "="*50 + "\n")

# Answer the question: What was the maximum age of passengers?
max_age = df['age'].max()
print(f"Maximum age of passengers on the Titanic: {max_age}")

First 5 rows of the dataset:
   survived  pclass   age  sibsp  parch     fare  male  age_was_missing  \
0         0       3  22.0      1      0   7.2500     1            False
1         1       1  38.0      1      0  71.2833     0            False
2         1       3  26.0      0      0   7.9250     0            False
3         1       1  35.0      1      0  53.1000     0            False
4         0       3  35.0      0      0   8.0500     1            False

   embarked_from_cherbourg  embarked_from_queenstown  \
0                        0                         0
1                        1                         0
2                        0                         0
3                        0                         0
4                        0                         0

   embarked_from_southampton
0                          1
1                          0
2                          1
3                          1
4                          1

==================================================

Statistical summary of the dataset:
         survived      pclass         age       sibsp       parch        fare  \
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.002015    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

             male  embarked_from_cherbourg  embarked_from_queenstown  \
count  891.000000               891.000000                891.000000
mean     0.647587                 0.188552                  0.086420
std      0.477990                 0.391372                  0.281141
min      0.000000                 0.000000                  0.000000
25%      0.000000                 0.000000                  0.000000
50%      1.000000                 0.000000                  0.000000
75%      1.000000                 0.000000                  0.000000
max      1.000000                 1.000000                  1.000000

       embarked_from_southampton
count                 891.000000
mean                    0.722783
std                     0.447876
min                     0.000000
25%                     0.000000
50%                     1.000000
75%                     1.000000
max                     1.000000

==================================================

Maximum age of passengers on the Titanic: 80.0